* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Helvetica', sans-serif;
}

:root {
    /* colors */
    --body-color: #fe7f2d;
    --sidebar-color: #233d4d;
    --primary-color: #fcca46;
    --text-color: #ffffff;
    --dark-text-color: #000000;
    --background-color: #efefef;

    --col-one-color:#bfbfbf;
    --col-two-color:#d9d9d9;
    --col-three-color:#f2f2f2;
}

body {
    height: 100vh;
    background-color: var(--background-color);
}

.main-class {
    display: flex;
    height: 100%;
    align-items: stretch;

}


.sidebar {
    width: 250px;
    min-width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    display: flex;
    color: var(--text-color);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    border-radius: 0 0px 0 0;

    .items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        

        .item {
            padding: 10px 0 10px 0;

            .name {
                width: 75%;
            }

            .title {
                font-size: 1.2em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                padding-top: 10px;
                
                .material-symbols-outlined{
                    cursor: pointer;
                }
            
            }

            .sub-item {
                padding: 8px 10px 8px 10px;
                font-size: 1.2em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgb(135, 135, 135);
                /* display: none; */
            }

            .sub-title {
                font-size: 1.2em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                padding-top: 10px;
                padding-left: 5px;
                padding-right: 5px;
                /* display: none; */
            }
            
        }
    }

    .headding img {
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .profile {
        .name {
            font-size: 1.2em;
            font-weight: 500;
        }
    }
    
}

.sidebar::-webkit-scrollbar {
    width: 12px;
    /* Adjust as needed */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Hide the thumb */
}

.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
    /* Hide the track */
}







.content {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    .namebar {
        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 1.5em;
        font-weight: 500;
    }

    .daybar {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 10px;
    }

    .duration {
        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 1em;
        padding-top: 10px;
    }

    .navigator {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 10px;
    }

    .accountbar {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 25px;
        width: 100%;



        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 30,
        }

        .material-symbols-outlined {
            font-size: 35px;
        }
    }

    .donut {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: stretch;

    }

    .amountdata {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        #full_income {
            color: darkgreen;
            font-size: 2.8vh;
        }

        #full_expences {
            color: red;
            font-size: 2.8vh;

        }

        #current_balance {
            color: darkblue;
            font-weight: 600;
            font-size: 3vh;
        }
    }


    .now_balance {
        display: flex;
        justify-content: center;
        padding: 10px;

        button {
            border-radius: 10px;
            font-size: 1.6em;
            padding: 5px 20px 5px 20px;
            background-color: #233d4d;
            color: white;
        }
    }


    .add-finance {
        .expence {
            max-width: 500px;
            min-width: 300px;
            width: 100%;
            background-color: whitesmoke;
            border-radius: 10px;
            margin: 10px;
        }

        .income {
            max-width: 500px;
            min-width: 300px;
            width: 100%;
            background-color: whitesmoke;
            border-radius: 10px;
            margin: 10px;
        }

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        .title {
            font-size: 1.2em;
            padding: 10px;
        }

        .categories {
            display: flex;
            /* justify-content: space-around; */
            flex-wrap: wrap;
            align-content: flex-start;
        }

        .item {
            width: 80px;
            height: 100px;
            background-color: #fcca46;
            padding: 10px;
            margin: 10px;
            font-size: 1.2em;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;

            .img {}
        }


    }

    /* add-finance */


    .finance-list{
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-self: center;

        .type{
            margin-top: 15px;
            width: 100%;
            font-weight: 600;
            background-color:var(--col-one-color);
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
    
        .categories{
            width: 100%;
            font-weight: 600;
            background-color:var(--col-two-color);
            padding: 10px;
            display: flex;
            justify-content: space-between;

            .title{
                display: flex;
                padding-left: 10px;
            }

            .name{
                padding-left: 5px;
            }
        }

        .items{
            width: 100%;
            font-weight: 600;
            background-color:var(--col-three-color);
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid var(--col-two-color);

            .name{
                padding-left: 20px;
            }
        }
    }



}

/* content */

a:link{
    text-decoration: none;
    color: var(--text-color);
}