{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">


    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Price'],
                ['Eating', 1500],
                ['Education', 300],
                ['Transport', 500],
                ['Others', 150],
            ]);

            var options = {

                pieHole: 0.5,
                legend: {
                    position: 'labeled',
                    textStyle: { color: 'black' } // Set text color for legend
                },
                pieSliceText: 'value',
                backgroundColor: {
                    fill: 'transparent',   // Background fill color
                    // Background stroke color
                },
                chartArea: { height: '100%', width: '100%' },
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    </script>

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <link rel="stylesheet" href="{% static 'css/popup.css' %}">

    <script src="{% static 'js/script.js' %}"></script>

    <title>Cashfy</title>

</head>

<body>
    <div class="main-class">


        <nav class="sidebar">
            <div class="items">
                <div class="item headding" height="100px">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </div>
                <div class="item profile" height="100px">
                    {% if user.is_authenticated %}
                    <div class="name">{{user.first_name}} {{user.last_name}}</div>
                    <div class="email">{{user.email}}</div>

                    <script>
                        // Define a JavaScript variable and assign the user's name to it
                        var uid = "{{ user.id }}";
                        // Now you can use the 'userName' variable in your JavaScript code
                        console.log(uid);
                    </script>

                    {% else %}
                    <div class="name">Your name</div>
                    <div class="email">example@gmail.com</div>
                    {% endif %}

                </div>
                <div class="item main accounts" height="100px">
                    <div class="title">
                        <span>Accounts</span>
                        <span class="material-symbols-outlined" onclick="addAccount();">add</span>
                    </div>
                    <div class="sub" id="account_list">
                        <div class="sub-item">
                            <span class="material-symbols-outlined">payments</span>
                            <span class="name">BOC</span>
                            <input type="checkbox" id="bank1" name="bank1" value="BOC">

                        </div>
                        <div class="sub-item">
                            <span class="material-symbols-outlined">account_balance</span>
                            <span class="name">Peoples Bank</span>
                            <input type="checkbox" id="bank2" name="bank2" value="Peoples Bank">
                        </div>

                        <div class="sub-item">
                            <span class="material-symbols-outlined">account_balance_wallet</span>
                            <span class="name">wallet</span>
                            <input type="checkbox" id="bank3" name="bank3" value="Wallet">
                        </div>


                    </div>
                </div>
                <div class="item" height="100px">
                    <div class="title">
                        <span>Categories</span>
                    </div>
                    <div class="sub">
                        <div class="sub-title">
                            <span>Expenses</span>
                            <span class="material-symbols-outlined" onclick="addExpense();">add</span>
                        </div>
                        <div id="expenses_list">
                            <div class="sub-item">
                                <span class="name">Eating</span>
                                <span class="material-symbols-outlined">restaurant</span>
                            </div>
                            <div class="sub-item">
                                <span class="name">Education</span>
                                <span class="material-symbols-outlined">school</span>
                            </div>
                            <div class="sub-item">
                                <span class="name">Transport</span>
                                <span class="material-symbols-outlined">directions_car</span>
                            </div>
                            <div class="sub-item">
                                <span class="name">Others</span>
                                <span class="material-symbols-outlined">shopping_cart</span>
                            </div>
                        </div>
                        <div class="sub-title">
                            <span>Incomes</span>
                            <span class="material-symbols-outlined" onclick="addIncome();">add</span>
                        </div>
                        <div id="income_list">
                            <div class="sub-item">
                                <span class="name">Salary</span>
                                <span class="material-symbols-outlined">payments</span>
                            </div>
                            <div class="sub-item">
                                <span class="name">Savings</span>
                                <span class="material-symbols-outlined">monetization_on</span>
                            </div>
                            <div class="sub-item">
                                <span class="name">Business</span>
                                <span class="material-symbols-outlined">store</span>
                            </div>
                        </div>

                    </div>

                </div>
                <a href="logout">
                    <div class="item" height="100px">
                        <div class="title">
                            <span>Logout</span>
                            <span class="material-symbols-outlined">logout</span>
                        </div>
                    </div>
                </a>
            </div>
        </nav>

        <div class="content">
            {% if user.is_authenticated %}
            <div class="namebar">Hello, {{user.first_name}}!</div>

            {% endif %}

            <div class="daybar">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="timeFilter" id="year" autocomplete="off">
                    <label class="btn btn-outline-primary" for="year">Year</label>

                    <input type="radio" class="btn-check" name="timeFilter" id="week" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="week">Week</label>

                    <input type="radio" class="btn-check" name="timeFilter" id="day" autocomplete="off">
                    <label class="btn btn-outline-primary" for="day">Day</label>

                    <input type="radio" class="btn-check" name="timeFilter" id="month" autocomplete="off">
                    <label class="btn btn-outline-primary" for="month">Month</label>

                    <input type="radio" class="btn-check" name="timeFilter" id="all" autocomplete="off">
                    <label class="btn btn-outline-primary" for="all">All</label>
                </div>
                <br>
            </div>

            <div class="duration">Aug 17 - Aug 21</div>


            <div class="navigator">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">&lt;</button>
                    <button type="button" class="btn btn-secondary">&gt;</button>
                </div>
            </div>

            <div class="accountbar" id="account_bar">
                <span class="material-symbols-outlined">account_balance_wallet</span>
                <span class="material-symbols-outlined">payments</span>
                <span class="material-symbols-outlined">account_balance</span>
                <span class="material-symbols-outlined">account_balance_wallet</span>
                <span class="material-symbols-outlined">account_balance_wallet</span>
            </div>

            <div class="donut">

                <div id="donutchart" style="width:40vw ; height: 50vh;">

                </div>
            </div>

            <div class="amountdata">
                <div id="full_income">+ LKR 7500</div>
                <div id="full_expences">- LKR 2500</div>
                <div id="current_balance">LKR 5000</div>
            </div>

            <div class="now_balance">
                <button>Balance : LKR 15000</button>
            </div>


            <div class="add-finance">

                <div class="expence">
                    <div class="title">Expences</div>
                    <div class="categories" id="expenses_container">
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">Education</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>

                    </div>
                </div>

                <div class="income">
                    <div class="title">Incomes</div>
                    <div class="categories" id="income_container">
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>
                        <div class="item">
                            <span class="material-symbols-outlined img">restaurant</span>
                            <div class="name">eating</div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="finance-list">
                <div class="type">
                    <div class="name">Expences</div>
                    <div class="value">50000</div>
                </div>
                <div class="categories">
                    <div class="title">
                        <span class="material-symbols-outlined">restaurant</span>
                        <div class="name">Eating</div>
                    </div>
                    <div class="value">1000</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">100</div>
                </div>
                <div class="items">
                    <div class="name">Breakfast</div>
                    <div class="value">100</div>
                </div>
                <div class="items">
                    <div class="name">dinner</div>
                    <div class="value">150</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">200</div>
                </div>
                <div class="items">
                    <div class="name">Eat</div>
                    <div class="value">150</div>
                </div>
                <div class="items">
                    <div class="name">Tea</div>
                    <div class="value">50</div>
                </div>

                <div class="categories">
                    <div class="title">
                        <span class="material-symbols-outlined">restaurant</span>
                        <div class="name">Eating</div>
                    </div>
                    <div class="value">1000</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">100</div>
                </div>
                <div class="items">
                    <div class="name">Breakfast</div>
                    <div class="value">100</div>
                </div>
                <div class="items">
                    <div class="name">dinner</div>
                    <div class="value">150</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">200</div>
                </div>
                <div class="items">
                    <div class="name">Eat</div>
                    <div class="value">150</div>
                </div>
                <div class="items">
                    <div class="name">Tea</div>
                    <div class="value">50</div>
                </div>

                <div class="categories">
                    <div class="title">
                        <span class="material-symbols-outlined">restaurant</span>
                        <div class="name">Eating</div>
                    </div>
                    <div class="value">1000</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">100</div>
                </div>
                <div class="items">
                    <div class="name">Breakfast</div>
                    <div class="value">100</div>
                </div>
                <div class="items">
                    <div class="name">dinner</div>
                    <div class="value">150</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">200</div>
                </div>
                <div class="items">
                    <div class="name">Eat</div>
                    <div class="value">150</div>
                </div>
                <div class="items">
                    <div class="name">Tea</div>
                    <div class="value">50</div>
                </div>


                <div class="type">
                    <div class="name">Incomes</div>
                    <div class="value">50000</div>
                </div>
                <div class="categories">
                    <div class="title">
                        <span class="material-symbols-outlined">restaurant</span>
                        <div class="name">Eating</div>
                    </div>
                    <div class="value">1000</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">100</div>
                </div>
                <div class="items">
                    <div class="name">Breakfast</div>
                    <div class="value">100</div>
                </div>


                <div class="categories">
                    <div class="title">
                        <span class="material-symbols-outlined">restaurant</span>
                        <div class="name">Eating</div>
                    </div>
                    <div class="value">1000</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">100</div>
                </div>

                <div class="categories">
                    <div class="title">
                        <span class="material-symbols-outlined">restaurant</span>
                        <div class="name">Eating</div>
                    </div>
                    <div class="value">1000</div>
                </div>
                <div class="items">
                    <div class="name">Lunch</div>
                    <div class="value">100</div>
                </div>

            </div>
        </div>

        <div class="popups">

        </div>
    </div> <!--  main -->


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        var iconNames;
        $(document).ready(function () {
            $.getJSON('dashboard/geticons', function (data) {
                var jsonObject = JSON.parse(data);
                iconNames = jsonObject.icon_names;

            })
                .fail(function (jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    console.error("Error fetching JSON: " + err);
                });
        });

    </script>

    <!-- 
<script>
    $(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url: "{% url 'getaccounts' %}",
                data: {
                    uid: uid,
                },
                success: function(response){
                    console.log(response);
                    updateAccountList(response.accounts);
                },
                error: function(response){
                    console.log('error!');
                }
            });
        }, 1000); // 1000 milliseconds = 1 second
    });
</script> -->


    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'getaccounts' %}",
                    data: {
                        uid: uid,
                    },
                    success: function (response) {
                        // Call a function to update the HTML with the received accounts
                        updateAccountList(response.accounts);
                    },
                    error: function (response) {
                        console.log('error!');
                    }
                });
            }, 1000); // 1000 milliseconds = 1 second

            // Function to update the HTML with the received accounts
            function updateAccountList(accounts) {
                var accountListContainer = $("#account_list");
                var accountBarContainer = $("#account_bar");
                

                // Clear existing content
                accountListContainer.empty();
                accountBarContainer.empty();
                


                // Iterate through the accounts and append them to the container
                default_selection=false;
                account_dropdown ='';

                accounts.forEach(function (account) {


                    if (default_selection == false){
                        if (account.checked){
                            account_dropdown = account_dropdown + '<option value="'+account.name+'" selected>'+account.name+'</option>';
                            default_selection = account.name;
                        }else{
                            account_dropdown = account_dropdown + '<option value="'+account.name+'">'+account.name+'</option>';
                        }
                    }else{
                        account_dropdown = account_dropdown + '<option value="'+account.name+'">'+account.name+'</option>';
                    }


                    var checkboxValue = account.checked ? 'checked' : '';
                    var accountBarHtml = '';
                    var a = account.checked ? `<span class="material-symbols-outlined">${account.icon}</span>` : '';

                    // Build the HTML for each account
                    var accountHtml = `
                    <div class="sub-item">
                        <span class="material-symbols-outlined">${account.icon}</span>
                        <span class="name">${account.name}</span>
                        <input type="checkbox" id="${account.name}" name="${account.name}" ${checkboxValue}>
                    </div>
                `;

                    // Append the HTML to the container
                    accountListContainer.append(accountHtml);
                    accountBarContainer.append(a);
                    
                });
            
            }
            
            
        });

        
    </script>


    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'getexpenses' %}",
                    data: {
                        uid: uid,
                    },
                    success: function (response) {
                        // Call a function to update the HTML with the received accounts
                        updateExpenseList(response.expenses);
                    },
                    error: function (response) {
                        console.log('error!');
                    }
                });
            }, 1000); // 1000 milliseconds = 1 second

            // Function to update the HTML with the received accounts
            function updateExpenseList(expenses) {
                var expensesSidebar = $("#expenses_list");
                var expensesContainer = $("#expenses_container");

                // Clear existing content
                expensesSidebar.empty();
                expensesContainer.empty();


                // Iterate through the accounts and append them to the container
                expenses.forEach(function (expense) {
                    var expensesSidebarHtml = `
                    <div class="sub-item">
                        <span class="name">${expense.name}</span>
                        <span class="material-symbols-outlined">${expense.icon}</span>
                    </div>
                    `;
                    // Build the HTML for each account
                    var expensesContainerHtml = `
                    <div class="item" onclick="openPopupTransaction(${expense.id},'${expense.name}','${expense.icon}');">
                        <span class="material-symbols-outlined img">${expense.icon}</span>
                        <div class="name">${expense.name}</div>
                    </div>
            `;

                    // Append the HTML to the container
                    expensesSidebar.append(expensesSidebarHtml);
                    expensesContainer.append(expensesContainerHtml);
                });
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'getincome' %}",
                    data: {
                        uid: uid,
                    },
                    success: function (response) {
                        // Call a function to update the HTML with the received accounts
                        updateIncomeList(response.incomes);
                    },
                    error: function (response) {
                        console.log('error!');
                    }
                });
            }, 1000); // 1000 milliseconds = 1 second

            // Function to update the HTML with the received accounts
            function updateIncomeList(incomes) {
                var incomesSidebar = $("#income_list");
                var incomesContainer = $("#income_container");

                // Clear existing content
                incomesSidebar.empty();
                incomesContainer.empty();


                // Iterate through the accounts and append them to the container
                incomes.forEach(function (income) {
                    var incomesSidebarHtml = `
                <div class="sub-item">
                    <span class="name">${income.name}</span>
                    <span class="material-symbols-outlined">${income.icon}</span>
                </div>
                `;
                    // Build the HTML for each account
                    var incomeContainerHtml = `
                <div class="item" onclick="openPopupTransaction(${income.id},'${income.name}','${income.icon}');">
                    <span class="material-symbols-outlined img">${income.icon}</span>
                    <div class="name">${income.name}</div>
                </div>
        `;

                    // Append the HTML to the container
                    incomesSidebar.append(incomesSidebarHtml);
                    incomesContainer.append(incomeContainerHtml);
                });
            }
        });
    </script>




    <script>
        $(document).on('submit', '#createaccount', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'createaccount' %}",
                data: {
                    uid: uid,
                    account: $('#account').val(),
                    initial: $('#initial').val(),
                    icon: $('input[name="icon"]:checked').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

                },
                success: function (response) {
                    $('.popups').empty();
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                    // Log the server's response for more information
                    console.log(xhr.responseText);
                }
            });

        });


        $(document).on('submit', '#createexpense', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'createexpense' %}",
                data: {
                    uid: uid,
                    name: $('#expense').val(),
                    icon: $('input[name="icon"]:checked').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

                },
                success: function (response) {
                    $('.popups').empty();
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                    // Log the server's response for more information
                    console.log(xhr.responseText);
                }
            });

        });
    </script>

    <script>
        $(document).on('submit', '#createincome', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'createincome' %}",
                data: {
                    uid: uid,
                    name: $('#income').val(),
                    icon: $('input[name="icon"]:checked').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

                },
                success: function (response) {
                    $('.popups').empty();
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                    // Log the server's response for more information
                    console.log(xhr.responseText);
                }
            });

        });
    </script>

<script>
    $(document).on('submit', '#createtransaction', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'createtransaction' %}",
            data: {
                uid: uid,
                category: $('#category_id').val(),

                date: $('#date').val(),
                amount: $('#amount').val(),
                description: $('#description').val(),

                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
                $('.popups').empty();
            },
            error: function (xhr, status, error) {
                console.log('Error:', error);
                // Log the server's response for more information
                console.log(xhr.responseText);
            }
        });

    });
</script>




    <!-- <div class="popup-box" id="popup_categories">
        <button class="close" onclick="removeAllContents('popups');">&times;</button>

        <form action="" method="post" id='createaccount'>

            <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}" id="csrf">

            
            <span class="material-symbols-outlined img" id="category_image">restaurant</span>
            <br>
            <label for="" class="category" id="category_name">Eating</label>

            <div class="content">
                <input type="date" name="date" id="date" >
                <br>

                <select id="dropdown" name="dropdown">
                    <option value="option1">Option 1</option>
                    <option value="option2" selected>Option 2</option>
                    <option value="option3">Option 3</option>
                    
                </select>

                <br>


                <input type="number" name="amount" id="amount" placeholder="Amount " class="amount">
                <br>
                <input type="text" name="description" id="description" placeholder="Description" class="description">

                <br>
            </div>
            <button type="submit" class="submit" onclick="console.log('hello');">Add</button>
        </form>
    </div> -->

</body>

</html>